<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Movies</title>
    <link rel="icon" href="../static/ico/popcorn.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/>
</head>
<body>
    <header>
        <div class="left-section">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" alt="Icon">
            <span>* Local Movies |</span>
            <div class="link"><a href="/">Início</a></div>
            <div class="link"><a href="/videos">Vídeos</a></div>
            <div class="link">Configurações</div>
        </div>

        <div class="right-section">
            <img src="https://cdn-icons-png.flaticon.com/512/633/633600.png" alt="Battery">
            <span id="data">{{ datetime_display }}</span>
        </div>
    </header>

    VIDEOS

    <main>
        <div class="card-main">
            <div class="card-titulo">
                <h1 id="titulo-card">* SOBRE O SISTEMA *</h1>
            </div>
            <br>
            <p>O sistema tem o objetivo de <span>Ler</span> e <span>Transmitir</span> arquivos de
            vídeo de um dispositivo "raiz" para outros que estiverem conectados à mesma rede! O sistema
            <span>NÃO FORNECE ARQUIVOS NEM PROMOVE A PIRATARIA</span>, é apenas uma solução prática para
            o consumo de arquivos próprios.</p>
        </div>
    </main>

    <hr>
    <footer>
        <div id="cubo">
            <!-- From Uiverse.io by lukepadiachy --> 
            <div class="my-loader">
            <div class="rubiks-cube">
                <div class="face front">
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                </div>

                <div class="face back">
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                </div>
                <div class="face left">
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                </div>
                <div class="face right">
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                </div>
                <div class="face top">
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                </div>
                <div class="face bottom">
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                <div style="background: #ffeb3b;" class="cube"></div>
                <div style="background: #4caf50;" class="cube"></div>
                <div style="background: #2196f3;" class="cube"></div>
                <div style="background: #ffffff;" class="cube"></div>
                <div style="background: #ff3d00;" class="cube"></div>
                </div>
            </div>
            </div>
        </div>

        <div>
            <h1 id="titulo-footer">* LOCAL MOVIES *</h1>
            <p style="text-align: center; color: var(--amarelo-claro); padding: 10px;">Todos os direitos reservados - Cauã 2025</p>
        </div>
    </footer>
</body>
</html>