{% extends 'vw_template.html' %}
{% block content %}

    <div class="inicio">
        <h1 id="titulo">LOCAL MOVIES</h1>
        <img src="../static/img/popcorn.png" id="popcorn"> <!-- imagem gerada por IA -->
    </div>
    <hr>

    <main>
        <div class="card-main">
            <div class="card-titulo">
                <h1 id="titulo-card">* SOBRE O SISTEMA *</h1>
            </div>
            <br>
            <p>O sistema tem o objetivo de <span>Ler</span> e <span>Transmitir</span> arquivos de
            vídeo de um dispositivo "raiz" para outros que estiverem conectados à mesma rede! O sistema
            <span>NÃO FORNECE ARQUIVOS NEM PROMOVE A PIRATARIA</span>, é apenas uma solução prática para
            o consumo de arquivos próprios.</p>
        </div>

        <br>

        <div class="card-main">
            <div class="card-titulo">
                <h1 id="titulo-card">* COMO VER OS VIDEOS *</h1>
            </div>
            <br>
            <p>Para <span>alterar</span> o dirtório dos arquivos, siga este passo a passo: Abra o arquivo
            <span>"app.py"</span> no diretório onde o projeto está salvo. Procure pela variável <span>PASTA_VIDEOS</span>
            . Após isso, digite ou cole o caminho dos arquivos que serão mostrados no site.</p>
        </div>
    </main>

 {% endblock %}